* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.navbar {
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo {
    margin-left: 2em;
    width: 50px;
    height: 50px;
}

.menu   {
    /* padding-right: 1em; */
    display: flex;
    justify-content: space-evenly;
    /* justify-items: center; */
}

.menu-item {
    max-width: 150px; 
    padding: 1em;
    height: 100%;
}

.menu-item:hover {
    background-color: #000;
    color: #fff;
}

.banner {
    height: 60vh;
    /* margin-bottom: 1em; */
    background-color: #06a3cc;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner h1 {
    font-size: 42px;
}

.left-arrow, .right-arrow {
    width: 50px;
    height: 50px;

}

.main-content {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: #ffe469;
    padding: 2em 5em 1em;
    margin-left: 100px;
}

.content {
    background-color: #d39ed6;
    padding: 2em;
    height: 100%;
    margin-left: -150px;
}

.right {
    height: 100%;
}

.contact-form {
    padding: 1em;
    height: 70%;
    background-color: #ed8719;
}

.contact-form input {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: #ed8719;
    border: 1px solid white;
    color: white;
}

.extra-content {
    height: 30%;
    background-color: #8ae33b;
    padding: 1em;
}

.footer {
    display: flex;
    height: 4rem;
    background-color: #06a3cc;
    align-items: center;
    justify-content: center;
}

.footer div {
    margin: 0.5em;
    color: white;
}

