* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e70000;
    min-height: 100vh;
    /* display: grid;
    grid-template-rows: 50% 50%; */
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1 0 100%;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;;
}

.main-content {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px; */
    display: flex;
}

.left, .center, .right {
    /* padding: 1em; */
    background-color: #571212;
}

.block {
    padding: 3em 2em 0 2em;
    flex-basis: 1 0 30%;
    border: 2px solid #e70000;
    /* margin-right: 1em; */
}

h1 {
    font-size: 14;
    font-weight: 100;
    margin: 1em 0 1em 0;
}

p {
    font-size: 10;
    color: #bbbbbb;
    line-height: 1.5em;
}